 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-form-1 {
  height: 506px;
  background-image: none;
  margin: 0 570px 0 0;
}

.u-section-1 .u-label-1 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-label-2 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-label-5 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-label-7 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-label-8 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  width: 208px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.u-section-1 .u-image-1 {
  width: 410px;
  height: 330px;
  margin: -510px 80px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-form-1 {
    height: 635px;
    margin-right: 470px;
  }

  .u-section-1 .u-image-1 {
    width: 373px;
    height: 300px;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 554px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 13px;
    margin-right: auto;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 273px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 285px;
  min-height: 53px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-2 .u-group-2 {
  width: 285px;
  min-height: 53px;
  height: auto;
  margin: -53px auto 0 285px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 53px;
  width: 570px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 407px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-2 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-2 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 25px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-3 {
  margin-top: 28px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 235px;
  }

  .u-section-2 .u-group-2 {
    width: 235px;
    margin-left: 235px;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: 470px;
  }

  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-table-1 {
    height: 235px;
  }

  .u-section-2 .u-table-2 {
    height: 235px;
  }

  .u-section-2 .u-table-3 {
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-2 {
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-2 .u-tabs-1 {
    margin-bottom: 44px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 115px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -158px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 73px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 548px;
  }
}